* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.lectorsImages {
    width: 200px;
    height: 200px;
}
.header_banner {
    background-image: url('../images/bg-2.jpg');
    background-color: #01000a;
    /* width: 100%; */
    /* height: auto; */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    object-fit: cover;
}

.header_navbar {
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #000000c1;
}

body {
    color: #e7e7e7;
    background-color: #1c1c1c !important;
    overflow-x: hidden !important;
}

a {
    color: #c2c2c2 !important;
}

.banner-text {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    height: 70%;
    padding: 10% 0 10% 10%;
    -webkit-box-shadow: inset 0px 0px 55px 59px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: inset 0px 0px 55px 59px rgba(0, 0, 0, 0.75);
    box-shadow: inset 0px 0px 55px 59px rgba(0, 0, 0, 0.75);
}

.banner-text > div {
    background-color: #000000a9;
    padding: 25px;
}

.event_name {
    font-size: 40px;
    font-weight: bold;
    padding: 2% auto 2% 1%;
}

.event_name,
.event_header,
.event_text,
.event_data {
    color: #91deff;
}

#logoImg {
    width: 70px;
    height: 70px;
}
/* Events container */
.events_container {
    font-size: 24px;
    width: 100%;
    text-align: center;
    overflow-x: hidden !important;
}

.event_container_item_wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: #e7e7e7;
}

.events_container h1 {
    color: #77d2f8;
    padding: 2% 0 2% 0;
}

.event_container_item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    width: 320px;
}

.event_container_item img {
    height: 100px;
    width: auto;
}

/* Events container */

/* About Container */

.about_container {
    font-family: 'Raleway', sans-serif;
    background-image: radial-gradient(circle at center, #899dc4, #495d84);
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background: radial-gradient(ellipse at bottom, #1b2735, #090a0f);
    font-weight: 300;
}

.all {
    display: flex;
    perspective: 10px;
    transform: perspective(300px) rotateX(20deg);
    will-change: perspective;
    perspective-origin: center center;
    transition: all 1.3s ease-out;
    justify-content: center;
    transform-style: preserve-3d;
}

.all:hover {
    perspective: 1000px;
    transition: all 1.3s ease-in;
    transform: perspective(10000px) rotateX(0deg);
}

.all:hover .text {
    opacity: 1;
}

.all:hover > div {
    opacity: 1;
    transition-delay: 0s;
}

.all:hover .explainer {
    opacity: 0;
}

.left,
.center,
.right,
.lefter,
.righter {
    width: 200px;
    height: 150px;
    transform-style: preserve-3d;
    border-radius: 10px;
    border: 1px solid #fff;
    box-shadow: 0 0 20px 5px rgba(100, 100, 255, 0.4);
    opacity: 0;
    transition: all 0.3s ease;
    transition-delay: 1s;
    position: relative;
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: #58d;
    cursor: pointer;
    background-blend-mode: color-burn;
}

.left:hover,
.center:hover,
.right:hover,
.lefter:hover,
.righter:hover {
    box-shadow: 0 0 30px 10px rgba(100, 100, 255, 0.6);
    background-color: #ccf;
}

.text {
    transform: translateY(30px);
    opacity: 0;
    transition: all 0.3s ease;
    bottom: 0;
    left: 5px;
    position: absolute;
    will-change: transform;
    color: #fff;
    text-shadow: 0 0 5px rgba(100, 100, 255, 0.6);
}

.lefter {
    transform: translateX(-60px) translateZ(-50px) rotateY(-10deg);
    background-image: url(https://cdn3.iconfinder.com/data/icons/other-icons/48/organization-512.png);
}

.left {
    transform: translateX(-30px) translateZ(-25px) rotateY(-5deg);
    background-image: url(https://cdn3.iconfinder.com/data/icons/other-icons/48/creative_draw-512.png);
}

.center {
    opacity: 1;
    background-image: url(https://cdn2.iconfinder.com/data/icons/education-and-learning-30/66/Educational_Grants-256.png);
}

.right {
    transform: translateX(30px) translateZ(-25px) rotateY(5deg);
    background-image: url(https://cdn3.iconfinder.com/data/icons/other-icons/48/cloud_weather-512.png);
}

.righter {
    transform: translateX(60px) translateZ(-50px) rotateY(10deg);
    background-image: url(https://cdn3.iconfinder.com/data/icons/other-icons/48/search-512.png);
}

.explainer {
    font-weight: 300;
    font-size: 2rem;
    color: #fff;
    transition: all 0.6s ease;
    width: 100%;
    height: 100%;
    background-color: #303050;
    background-image: radial-gradient(circle at center top, #cce, #33a);
    border-radius: 10px;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
}

.ref {
    background-color: #000;
    background-image: linear-gradient(to bottom, #d80, #c00);
    border-radius: 3px;
    padding: 7px 10px;
    position: absolute;
    font-size: 16px;
    bottom: 10px;
    right: 10px;
    color: #fff;
    text-decoration: none;
    text-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
}

.ref::first-letter {
    font-size: 12px;
}

.about_card_styles {
    background-color: #6d6d6d !important;
}
.text_info_cont {
    color: #ffffff;
}

/* About Container */

/* Carousel */
.lecturers_container h1 {
    color: #77d2f8;
    padding: 2% 0 2% 0;
    width: 100% !important;
}

.lecturers_container {
    background: #1c1c1c;
    height: 600px;
    text-align: center;
    overflow-x: hidden !important;
}

.lecturers_container .container {
    margin: 0 auto;
    width: 350px;
    height: 200px;
    position: relative;
    perspective: 3500px;
}

.carousel {
    height: 100%;
    width: 100%;
    position: absolute;
    transform-style: preserve-3d;
    transition: transform 1s;
}

.item {
    display: block;
    position: absolute;
    background: #1c1c1c;
    width: 304px;
    height: 400px;
    font-size: 13px;
    text-align: center;
    color: #e7e7e7;
}

.item h3 {
    padding-top: 3%;
}

.img-container {
    height: 230px;
}

img {
    width: 200px;
    height: auto;
}

.hidden {
    display: none;
}

h3 {
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
}

.a {
    transform: rotateY(0deg) translateZ(366px);
}

.b {
    transform: rotateY(45deg) translateZ(366px);
}

.c {
    transform: rotateY(90deg) translateZ(366px);
}

.d {
    transform: rotateY(135deg) translateZ(366px);
}

.e {
    transform: rotateY(180deg) translateZ(366px);
}

.f {
    transform: rotateY(225deg) translateZ(366px);
}

.g {
    transform: rotateY(270deg) translateZ(366px);
}

.h {
    transform: rotateY(315deg) translateZ(366px);
}

.next,
.prev {
    position: absolute;
    margin-top: -250px;
    height: 50%;
    width: 50%;
    cursor: pointer;
    transition: box-shadow 0.1s, top 0.1s;
}

.next:hover,
.prev:hover {
    color: #000;
}

.next {
    right: 0;
}

.prev {
    left: 0;
}

/* Sponsors Сontainer */

.contributors_container_wrapper h1 {
    color: #77d2f8;
    padding: 3% 0 3% 0;
    text-align: center;
}

/*Beginning sponsors*/
.contributors_container_wrapper {
    /* height: 400px; */
    font-family: 'Libre Baskerville', serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    background-color: #161616;
    color: #ababab;
    padding-bottom: 5%;
}

/* ::-webkit-scrollbar {
    width: 10px;
    background-color: #f5f5f5;
} */

/* ::-webkit-scrollbar-thumb {
    background-color: #f90a23;
    background-image: -webkit-linear-gradient(
        45deg,
        rgba(255, 255, 255, 0.2) 25%,
        transparent 25%,
        transparent 50%,
        rgba(255, 255, 255, 0.2) 50%,
        rgba(255, 255, 255, 0.2) 75%,
        transparent 75%,
        transparent
    );
} */

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #f5f5f5;
}

.heading-page {
    text-transform: uppercase;
    font-size: 43px;
    font-weight: bolder;
    letter-spacing: 3px;
    color: white;
}

a {
    color: inherit;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

a:hover,
a:focus {
    color: #ababab;
    text-decoration: none;
    outline: 0 none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #1e2530;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    line-height: 1.3;
}

p {
    margin-bottom: 20px;
}

p:last-child {
    margin-bottom: 0;
}

/*
 * Selection color
 */
::-moz-selection {
    color: #fff;
}

::selection {
    color: #fff;
}

/*
 *  Reset bootstrap's default style
 */
.form-control::-webkit-input-placeholder,
::-webkit-input-placeholder {
    opacity: 1;
    color: inherit;
}

.form-control:-moz-placeholder,
:-moz-placeholder {
    /* Firefox 18- */
    opacity: 1;
    color: inherit;
}

.form-control::-moz-placeholder,
::-moz-placeholder {
    /* Firefox 19+ */
    opacity: 1;
    color: inherit;
}

.form-control:-ms-input-placeholder,
:-ms-input-placeholder {
    opacity: 1;
    color: inherit;
}

button,
input,
select,
textarea,
label {
    font-weight: 400;
}

.btn {
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

.btn:hover,
.btn:focus,
.btn:active:focus {
    outline: 0 none;
}

.btn-primary {
    background-color: #fa6862;
    border: 0;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    height: 48px;
    line-height: 50px;
    padding: 0 42px;
    text-transform: uppercase;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary:active:focus {
    background-color: #f9423a;
}

.btn-border {
    border: 1px solid #d7d8db;
    display: inline-block;
    padding: 7px;
}

/*
 *  CSS Helper Class
 */
.clear:before,
.clear:after {
    content: ' ';
    display: table;
}

.clear:after {
    clear: both;
}

.pt-table {
    display: table;
    width: 100%;
    height: -webkit-calc(100vh - 4px);
    height: -moz-calc(100vh - 4px);
    height: calc(100vh - 4px);
}

.pt-tablecell {
    display: table-cell;
    vertical-align: middle;
}

.overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.relative {
    position: relative;
}

.primary,
.link:hover {
    color: #fa6862;
}

.no-gutter {
    margin-left: 0;
    margin-right: 0;
}

.no-gutter > [class^='col-'] {
    padding-left: 0;
    padding-right: 0;
}

.flex {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
}

.flex-middle {
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
}

.space-between {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    justify-content: space-between;
}

.nicescroll-cursors {
    background: #fa6862 !important;
}

.preloader {
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1000;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
}

.preloader.active.hidden {
    display: none;
}

.loading-mask {
    background-color: #fa6862;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 20%;
    -webkit-transition: all 0.6s cubic-bezier(0.61, 0, 0.6, 1) 0s;
    -moz-transition: all 0.6s cubic-bezier(0.61, 0, 0.6, 1) 0s;
    -o-transition: all 0.6s cubic-bezier(0.61, 0, 0.6, 1) 0s;
    transition: all 0.6s cubic-bezier(0.61, 0, 0.6, 1) 0s;
}

.loading-mask:nth-child(2) {
    left: 20%;
    -webkit-transition-delay: 0.1s;
    -moz-transition-delay: 0.1s;
    -o-transition-delay: 0.1s;
    transition-delay: 0.1s;
}

.loading-mask:nth-child(3) {
    left: 40%;
    -webkit-transition-delay: 0.2s;
    -moz-transition-delay: 0.2s;
    -o-transition-delay: 0.2s;
    transition-delay: 0.2s;
}

.loading-mask:nth-child(4) {
    left: 60%;
    -webkit-transition-delay: 0.3s;
    -moz-transition-delay: 0.3s;
    -o-transition-delay: 0.3s;
    transition-delay: 0.3s;
}

.loading-mask:nth-child(5) {
    left: 80%;
    -webkit-transition-delay: 0.4s;
    -moz-transition-delay: 0.4s;
    -o-transition-delay: 0.4s;
    transition-delay: 0.4s;
}

.preloader.active.done {
    z-index: 0;
}

.preloader.active .loading-mask {
    width: 0;
}

/*------------------------------------------------
	Start Styling
-------------------------------------------------*/
.mt20 {
    margin-top: 20px;
}

.site-wrapper {
    border-top: 4px solid #ff0037;
}

.page-close {
    font-size: 30px;
    position: absolute;
    right: 30px;
    top: 30px;
    z-index: 100;
}

.page-title {
    margin-bottom: 75px;
}

.page-title img {
    margin-bottom: 20px;
}

.page-title h2 {
    font-size: 68px;
    margin-bottom: 25px;
    position: relative;
    z-index: 0;
    font-weight: 900;
    text-transform: uppercase;
}

.page-title p {
    font-size: 16px;
}

.page-title .title-bg {
    color: rgba(30, 37, 48, 0.07);
    font-size: 158px;
    left: 0;
    letter-spacing: 10px;
    line-height: 0.7;
    position: absolute;
    right: 0;
    top: 50%;
    z-index: -1;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}

.section-title {
    margin-bottom: 20px;
}

.section-title h3 {
    display: inline-block;
    position: relative;
}

.section-title h3::before,
.section-title h3::after {
    content: '';
    height: 2px;
    position: absolute;
    bottom: 8px;
    left: -webkit-calc(100% + 14px);
    left: -moz-calc(100% + 14px);
    left: calc(100% + 14px);
}

.section-title h3::before {
    background-color: #1e2530;
    width: 96px;
    bottom: 14px;
}

.section-title h3::after {
    background-color: #fa6862;
    width: 73px;
}

.section-title.light h3 {
    color: #fff;
}

.section-title.light h3::before {
    background-color: #fff;
}

.page-nav {
    bottom: 40px;
    left: 0;
    position: absolute;
    right: 0;
}

.page-nav span {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 0.9;
    text-transform: uppercase;
}

.hexagon-item {
    cursor: pointer;
    width: 200px;
    height: 174px;
    float: left;
    margin-left: -29px;
    z-index: 0;
    position: relative;
    -webkit-transform: rotate(30deg);
    -moz-transform: rotate(30deg);
    -ms-transform: rotate(30deg);
    -o-transform: rotate(30deg);
    transform: rotate(30deg);
}

.hexagon-item:first-child {
    margin-left: 0;
}

.hexagon-item:hover {
    z-index: 1;
}

.hexagon-item:hover .hex-item:last-child {
    opacity: 1;
    -webkit-transform: scale(1.3);
    -moz-transform: scale(1.3);
    -ms-transform: scale(1.3);
    -o-transform: scale(1.3);
    transform: scale(1.3);
}

.hexagon-item:hover .hex-item:first-child {
    opacity: 1;
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
}

.hexagon-item:hover .hex-item:first-child div:before,
.hexagon-item:hover .hex-item:first-child div:after {
    height: 5px;
}

.hexagon-item:hover .hex-item div::before,
.hexagon-item:hover .hex-item div::after {
    background-color: #77d2f8;
}

.hexagon-item:hover .hex-content svg {
    -webkit-transform: scale(0.97);
    -moz-transform: scale(0.97);
    -ms-transform: scale(0.97);
    -o-transform: scale(0.97);
    transform: scale(0.97);
}

.hexagon-item:hover .hex-content img {
    -webkit-transform: scale(0.97);
    -moz-transform: scale(0.97);
    -ms-transform: scale(0.97);
    -o-transform: scale(0.97);
    transform: scale(0.97);
}

.hexagon-item:hover .hex-content .hex-figure {
    -webkit-transform: scale(0.97);
    -moz-transform: scale(0.97);
    -ms-transform: scale(0.97);
    -o-transform: scale(0.97);
    transform: scale(0.97);
}

.hex-figure {
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
    background-position: center;
    width: 100%;
    height: 100%;
}

.sponsor-image-1 {
    background-image: url(../images/pit.png);
}

.page-home .hexagon-item:nth-last-child(1),
.page-home .hexagon-item:nth-last-child(2),
.page-home .hexagon-item:nth-last-child(3) {
    -webkit-transform: rotate(30deg) translate(87px, -80px);
    -moz-transform: rotate(30deg) translate(87px, -80px);
    -ms-transform: rotate(30deg) translate(87px, -80px);
    -o-transform: rotate(30deg) translate(87px, -80px);
    transform: rotate(30deg) translate(87px, -80px);
}

.hex-item {
    position: absolute;
    top: 0;
    left: 50px;
    width: 100px;
    height: 173px;
}

.hex-item:first-child {
    z-index: 0;
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -ms-transform: scale(0.9);
    -o-transform: scale(0.9);
    transform: scale(0.9);
    -webkit-transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
    -moz-transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
    -o-transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.hex-item:last-child {
    transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
    z-index: 1;
}

.hex-item div {
    box-sizing: border-box;
    position: absolute;
    top: 0;
    width: 100px;
    height: 173px;
    -webkit-transform-origin: center center;
    -moz-transform-origin: center center;
    -ms-transform-origin: center center;
    -o-transform-origin: center center;
    transform-origin: center center;
}

.hex-item div::before,
.hex-item div::after {
    background-color: #1e2530;
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    -webkit-transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1) 0s;
    -moz-transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1) 0s;
    -o-transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1) 0s;
    transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1) 0s;
}

.hex-item div:before {
    top: 0;
}

.hex-item div:after {
    bottom: 0;
}

.hex-item div:nth-child(1) {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
}

.hex-item div:nth-child(2) {
    -webkit-transform: rotate(60deg);
    -moz-transform: rotate(60deg);
    -ms-transform: rotate(60deg);
    -o-transform: rotate(60deg);
    transform: rotate(60deg);
}

.hex-item div:nth-child(3) {
    -webkit-transform: rotate(120deg);
    -moz-transform: rotate(120deg);
    -ms-transform: rotate(120deg);
    -o-transform: rotate(120deg);
    transform: rotate(120deg);
}

.hex-content {
    color: #fff;
    display: flex;
    height: 180px;
    /* margin: -3px auto; */
    margin: 0 auto;
    position: relative;
    text-align: center;
    transform: rotate(-30deg);
    width: 156px;
}

.hex-content .hex-content-inner {
    left: 50%;
    margin: -3px 0 0 2px;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.hex-content .icon {
    display: block;
    font-size: 36px;
    line-height: 30px;
    margin-bottom: 11px;
}

.hex-content .title {
    display: block;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    letter-spacing: 1px;
    line-height: 24px;
    text-transform: uppercase;
}

.hex-content svg {
    left: -7px;
    position: absolute;
    top: -13px;
    transform: scale(0.87);
    z-index: -1;
    -webkit-transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1) 0s;
    -moz-transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1) 0s;
    -o-transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1) 0s;
    transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1) 0s;
}

.hex-content:hover {
    color: #fff;
}

.page-home .hexagon-item:nth-last-child(1),
.page-home .hexagon-item:nth-last-child(2),
.page-home .hexagon-item:nth-last-child(3) {
    -webkit-transform: rotate(30deg) translate(87px, -80px);
    -moz-transform: rotate(30deg) translate(87px, -80px);
    -ms-transform: rotate(30deg) translate(87px, -80px);
    -o-transform: rotate(30deg) translate(87px, -80px);
    transform: rotate(30deg) translate(87px, -80px);
}

/*------------------------------------------------
    Welcome Page
-------------------------------------------------*/
.author-image-large {
    position: absolute;
    right: 0;
    top: 0;
}

.author-image-large img {
    height: -webkit-calc(100vh - 4px);
    height: -moz-calc(100vh - 4px);
    height: calc(100vh - 4px);
}

@media (min-width: 1200px) {
    .col-lg-offset-2 {
        margin-left: 16.66666667%;
    }
}

@media (min-width: 1200px) {
    .col-lg-8 {
        width: 66.66666667%;
    }
}

.hexagon-item:first-child {
    margin-left: 0;
}

.pt-table.desktop-768 .pt-tablecell {
    padding-bottom: 110px;
    padding-top: 60px;
}

.hexagon-item:hover .icon i {
    color: #ff0037;
    transition: 0.6s;
}

.hexagon-item:hover .title {
    -webkit-animation: focus-in-contract 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    animation: focus-in-contract 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

/***************************/

@-webkit-keyframes focus-in-contract {
    0% {
        letter-spacing: 1em;
        -webkit-filter: blur(12px);
        filter: blur(12px);
        opacity: 0;
    }
    100% {
        -webkit-filter: blur(0px);
        filter: blur(0px);
        opacity: 1;
    }
}

@keyframes focus-in-contract {
    0% {
        letter-spacing: 1em;
        -webkit-filter: blur(12px);
        filter: blur(12px);
        opacity: 0;
    }
    100% {
        -webkit-filter: blur(0px);
        filter: blur(0px);
        opacity: 1;
    }
}

@media only screen and (max-width: 767px) {
    .hexagon-item {
        float: none;
        margin: 0 auto 50px;
    }

    .hexagon-item:first-child {
        margin-left: auto;
    }

    .page-home .hexagon-item:nth-last-child(1),
    .page-home .hexagon-item:nth-last-child(2),
    .page-home .hexagon-item:nth-last-child(3) {
        -webkit-transform: rotate(30deg) translate(0px, 0px);
        -moz-transform: rotate(30deg) translate(0px, 0px);
        -ms-transform: rotate(30deg) translate(0px, 0px);
        -o-transform: rotate(30deg) translate(0px, 0px);
        transform: rotate(30deg) translate(0px, 0px);
    }
}

.sponsors_container {
    display: flex;
    justify-content: center;
    align-items: center;
    animation-name: test;
}

@media (min-width: 350px) and (max-width: 800px) {
    .sponsors_container {
        display: block;
    }
}
/*Finish sponsors*/

/*Footer*/
.site-footer {
    background-color: #26272b;
    font-size: 15px;
    line-height: 24px;
    color: #737373;
}

.site-footer hr {
    border-top-color: #bbb;
    opacity: 0.5;
}

.site-footer hr.small {
    margin: 20px 0;
}

.site-footer h6 {
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    margin-top: 5px;
    letter-spacing: 2px;
}

.site-footer a {
    color: #737373;
}

.site-footer a:hover {
    color: #3366cc;
    text-decoration: none;
}

.footer-links {
    padding-left: 0;
    list-style: none;
}

.footer-links li {
    display: block;
}

.footer-links a {
    color: #737373;
}

.footer-links a:active,
.footer-links a:focus,
.footer-links a:hover {
    color: #3366cc;
    text-decoration: none;
}

.footer-links.inline li {
    display: inline-block;
}

.site-footer .social-icons {
    text-align: right;
}

.site-footer .social-icons a {
    width: 40px;
    height: 40px;
    line-height: 40px;
    margin-left: 6px;
    margin-right: 0;
    border-radius: 100%;
    background-color: #33353d;
}

.copyright-text {
    margin: 0;
}

@media (max-width: 991px) {
    .site-footer [class^='col-'] {
        margin-bottom: 30px;
    }
}

@media (max-width: 767px) {
    .site-footer {
        padding-bottom: 0;
    }

    .site-footer .copyright-text,
    .site-footer .social-icons {
        text-align: center;
    }
}

.social-icons {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.social-icons li {
    display: inline-block;
    margin-bottom: 4px;
}

.social-icons li.title {
    margin-right: 15px;
    text-transform: uppercase;
    color: #96a2b2;
    font-weight: 700;
    font-size: 13px;
}

.social-icons a {
    background-color: #eceeef;
    color: #818a91;
    font-size: 16px;
    display: inline-block;
    line-height: 44px;
    width: 44px;
    height: 44px;
    text-align: center;
    margin-right: 8px;
    border-radius: 100%;
    -webkit-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
}

.social-icons a:active,
.social-icons a:focus,
.social-icons a:hover {
    color: #fff;
    background-color: #29aafe;
}

.social-icons.size-sm a {
    line-height: 34px;
    height: 34px;
    width: 34px;
    font-size: 14px;
}

.social-icons a.facebook:hover {
    background-color: #3b5998;
}

.social-icons a.twitter:hover {
    background-color: #00aced;
}

.social-icons a.linkedin:hover {
    background-color: #007bb6;
}

.social-icons a.dribbble:hover {
    background-color: #ea4c89;
}

@media (max-width: 767px) {
    .social-icons li.title {
        display: block;
        margin-right: 0;
        font-weight: 600;
    }
}

/*Footer*/
